.span-24{
}

.main{
	text-align: center;
	height: 100%;
	padding-left: 140px;
}

h1, h2 {
		margin-bottom: 0.25em;
}

h4 {
	margin-bottom: 0em;
}

.toolbar{
	padding-top: 10em;
	position: fixed;
}

#friendsToolbar{
	margin-left: 840px;
	text-align: center;
}

.hidden{
	display: none;
}

.vertialOut{
	position: relative;
}
.verticalIn{
	$height: 205px;
	position:absolute;
	top:50%; 
	height: $height; 
	margin-top: -$height/2;  /* negative half of the height */
}
